
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50;
    font-family: 'Inter';
}
#leftPart{
    padding: 30px 33px 5px 32px;
    background-color: rgba(190, 222, 226, 1);
    width: 182px;
    height: 770px;
    font-size: 10px;

}
#rightPart{
    padding: 28px 33px 5px 32px;
    background-color: white;
    width: 348px;
    height: 770px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    
    

}
img{
    width: 120px;
    height: 120px;
    border: solid black 1px;   
    margin-bottom: 5px;
}
span{font-weight: bold;}
#underline{
    background-color: rgba(167, 198, 255, 1);
    width: 241px;
    height:1px;
    margin: 5px 0px 20px 0px;
}
.noBullets{
    list-style: none;
    position: relative;left: auto;
}
p{
    font-size: 13px;
    width: 283;
    
}
li{
   position: relative;left: 30px;
   font-size: 13px;
    
}
#description{
    margin-bottom: 20px;
}
#leftPart h3{
    font-weight:bold;
    font-size: 13px;

}
#headingTwo{margin-top: 20px;}
ul{
    margin-top: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
body{
    padding: 0;
    font-size: 5px;
    
}   
#leftPart{width: 110px;
padding-left: 10px;
height: 820px;
}
#rightPart{
    width: 255px;
    height: 820px;
    padding-left: 10px;
    padding-right: 10px;
    
}
img{
    width: 100px;
    height: 100px;
     
    margin-bottom: 15px;
}
p{    width: 220px;}
#underline{width: 150px;}
#headingTwo{margin-top: 10px;}
}
@media screen and (max-width: 300px),(max-width:450px) {
    body{
        display: block;
        font-size: 30px;
    }   
    #leftPart{width: 215px;
    padding-left: 30px;
    margin-right: 50px;
    
    
    }
    #underline{width: 150px;
    }
    img{
        width: 180px;
        height: 180px;
         
        margin-bottom: 15px;
    }
    
    }